<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="minirpc-web">
    <Properties>
        <Property name="log-path">../logs</Property>
        <Property name="log-file-sizelimit">1GB</Property>
        <Property name="log4j2.log-level">INFO</Property>
        <Property name="scribe.server.host">127.0.0.1</Property>
    </Properties>

    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%t] %C{2} (%F:%L) - %m %X{request_id}%n"/>
        </Console>
        <Collector name="collector-log" tagKey="debug_id">
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg %X{request_id}%n</Pattern>
            </PatternLayout>
        </Collector>
        <RollingRandomAccessFile name="debug-log" fileName="${log-path}/debug.log"
                                 filePattern="${log-path}/debug.log.%d{yyyyMMdd-HH}">
            <filters>
                <!-- vip log开关, 只有满足这个filter条件的uid才能打印出对应的某些debug日志 -->
                <CustomDynamicThresholdFilter key="uid" defaultThreshold="INFO"
                                              onMatch="ACCEPT" onMismatch="NEUTRAL">
                </CustomDynamicThresholdFilter>
                <!-- 其它的关闭DEBUG日志 -->
                <ThresholdFilter level="off" onMatch="ACCEPT" onMismatch="DENY"/>
            </filters>
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg
                    %X{request_id}%n%ex{suffix(%X{request_id})}
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="info-log" fileName="${log-path}/info.log"
                                 filePattern="${log-path}/info.log.%d{yyyyMMdd-HH}">
            <ThresholdFilter level="${sys:log4j2.log-level}" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg
                    %X{request_id}%n%ex{suffix(%X{request_id})}
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingFile name="http-access" fileName="${log-path}/http_access.log"
                     filePattern="${log-path}/http_access.log.%d{yyyyMMdd-HH}">
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg
                    %X{request_id}%n%ex{suffix(%X{request_id})}
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingRandomAccessFile name="access-log" fileName="${log-path}/access.log"
                                 filePattern="${log-path}/access.log.%d{yyyyMMdd-HH}">
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg
                    %X{request_id}%n%ex{suffix(%X{request_id})}
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="warn-log" fileName="${log-path}/warn.log"
                                 filePattern="${log-path}/warn.log.%d{yyyyMMdd}">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg %ll %X{request_id}
                    %n%ex{suffix(%X{request_id})}
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="api-log" fileName="${log-path}/api.log"
                                 filePattern="${log-path}/api.log.%d{yyyyMMdd-HH}">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg %X{request_id}
                    %n%ex{suffix(%X{request_id})}
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="profile-log" fileName="${log-path}/profile.log"
                                 filePattern="${log-path}/profile.log.%d{yyyyMMdd-HH}">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="rpc-log" fileName="${log-path}/rpc.log"
                                 filePattern="${log-path}/rpc.log.%d{yyyyMMdd-HH}">
            <PatternLayout>
                <Pattern>[%level] %d{yyyyMMdd HH:mm:ss.SSS} [%t] %c{1} - %msg
                    %X{request_id}%n%ex{suffix(%X{request_id})}
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="statistic-log" fileName="${log-path}/statistic.log"
                                 filePattern="${log-path}/statistic.log.%d{yyyyMMdd-HH}">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n%ex{suffix(%X{request_id})}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

    </Appenders>
    <Loggers>
        <Logger name="info" level="info" additivity="false">
            <appender-ref ref="api-log" level="info"/>
            <appender-ref ref="warn-log" level="warn"/>
            <appender-ref ref="collector-log"/>
        </Logger>
        <Logger name="access" level="info" additivity="false">
            <appender-ref ref="access-log" level="info"/>
            <appender-ref ref="collector-log"/>
        </Logger>
        <Logger name="accessLog" level="info" additivity="false">
            <appender-ref ref="rpc-log" level="info"/>
            <appender-ref ref="warn-log" level="warn"/>
            <appender-ref ref="collector-log"/>
        </Logger>
        <Logger name="profile" level="info" additivity="false">
            <appender-ref ref="profile-log" level="info"/>
            <appender-ref ref="warn-log" level="warn"/>
            <appender-ref ref="collector-log"/>
        </Logger>
        <Logger name="statistic" level="info" additivity="false">
            <appender-ref ref="statistic-log" level="info"/>
            <appender-ref ref="warn-log" level="warn"/>
            <appender-ref ref="collector-log"/>
        </Logger>
        <Logger name="warn" level="warn" additivity="false">
            <appender-ref ref="warn-log" level="warn"/>
            <appender-ref ref="info-log" level="warn"/>
            <appender-ref ref="collector-log"/>
        </Logger>
        <Logger name="error" level="error" additivity="false">
            <appender-ref ref="warn-log" level="error"/>
            <appender-ref ref="info-log" level="error"/>
            <appender-ref ref="collector-log"/>
        </Logger>
        <Logger name="org.springframework" additivity="false" level="${sys:log4j2.log-level}">
            <appender-ref ref="info-log" level="${sys:log4j2.log-level}"/>
            <appender-ref ref="warn-log" level="warn"/>
            <appender-ref ref="collector-log"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="info"/>
            <appender-ref ref="warn-log" level="warn"/>
            <appender-ref ref="collector-log"/>
        </Root>
    </Loggers>
</Configuration>
